# General
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*~
*.log
*.sql
*.sqlite

# Node modules
node_modules/

# Shopify files
config/settings_data.json

# Build output
dist/
build/

# Generated images
assets/*.png
assets/*.gif
assets/*.jpg
assets/*.jpeg
assets/*.svg

# Ignore Shopify's default settings file
config/settings_data.json

# If using Yarn package manager
yarn-error.log
.pnp/
.pnp.js
.yarn/

# Environment variables and credentials
.env
.env.*

# Optional: Ignores the local Shopify config
.config/
